* {
    box-sizing: border-box;
}
#pic {
    margin: 0px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 3px;
}
body {
    background-color: #d0d4d7;
    height: 58px;
    }
    header {
        background-color: white ;
        mari
    }
    main{
        margin: 100px auto;
        width: 74%;
    }
hr{
    border-top: 1px solid;
    border-color: #d0d4d7;
}
section {
   background-color: white;
}
section input {
    border-radius: 12%;
    border: 1px;
    padding: 10px;
}
#bluebutton {
    background-color: rgb(71, 173, 241);
    color: white;
    width: 78px;
}
#whitebutton {
    color: #d0d4d7 ;
    width: 94px;
    border-color: #d0d4d7 ;
}
div {
    margin: 10pX auto;
    font-size: 20px;
}
.nope::before {
    content: '\2612';
    color: red
}
.check:before {
    content: '\2611';
    color: #96d8ca ;
}
.editorial{
    background-color:rgb(71, 173, 241);
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
