* {
    box-sizing: border-box;
}
#pic {
    margin: 0px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 3px;
}
body {
    background-color: #d0d4d7;
    height: 58px;
    margin: 0px;
}
header {
    background-color: white ;
    padding: 19px;
}
main{
    margin: 100px auto;
    width: 74%;
    }
hr{
    border-top: 1px solid;
    border-color: #d0d4d7;
}
section {
   background-color: white;
   padding: 14px 80px;
}
section input {
    border-radius: 12%;
    border: 1px;
    padding: 10px;
}
#bluebutton {
    background-color: rgb(71, 173, 241);
    color: white;
    width: 78px;
}
#whitebutton {
    color: #d0d4d7 ;
    width: 94px;
    border-color: #d0d4d7 ;
}
div {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.check{
    margin-right: 10px;
}
.nope{
    margin-right: 10px;
} 

.figure{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid green;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.figurenope{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid red; 
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-div{
    display:flex;
    align-items: center; 
    
}

.figure i {
    color: green;
    font-size: 20px;
    padding-top: 4px;
}

.figurenope i {
    color: red;
    font-size: 20px;
    padding-top: 3px;
}


.blue {
    background-color:rgb(71, 173, 241);
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
#purple {
    background-color: #9c72e4;
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
#green {
    background-color: #5abba3;
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
#orange {
    background-color: #f29e33;
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
#pink {
    background-color: #d863a1;
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
#anothergreen {
    background-color: #b0c926;
    color: white;
    margin-top: 8px;
    border-radius: 37%;
    padding: 6px;
    width: 9%;
    border: 1px;
}
